* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html,
body {
  background: #000000;
  overflow: hidden;
}

canvas {
  display: block;
  top: 0;
  right: 0;
}

canvas:hover {
  cursor: grab;
}

canvas:active {
  cursor: grabbing;
}
